body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#uploads {
    margin-top: 20px;
}

#uploadList {
    list-style-type: none;
    padding: 0;
    display: flex; /* Usar flexbox para alinear elementos */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
}

#uploadList li {
    margin: 10px; /* Espaciado entre elementos */
}

.preview {
    max-width: 300px; /* Tamaño máximo de las imágenes */
    max-height: 300px; /* Tamaño máximo de las imágenes */
}